body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
}
/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 94.7%; /* ini penting */
  z-index: 1000;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

/* LOGO */
.logo {
  color: #006d67;
  font-size: 22px;
  font-weight: bold;
}

/* MENU */
.menu {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.menu li {
  position: relative;
}

.menu a {
  text-decoration: none;
  color: rgb(12, 12, 12);
  padding: 10px 15px;
  display: block;
  transition: 0.3s;
  font-size: 15px;
}

.menu a:hover {
  background: red;
  border-radius: 5px;
}

/* BUTTON */
.btn-sign {
  background: orange;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.btn-sign:hover {
  background: darkorange;
}

/* HERO */
.hero img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

/* TOUR SECTION */
.tour-section {
  max-width: 1200px;
  margin: 100px auto 0;
  padding: 0 20px;
}
/* TITLE */
.title {
  text-align: center;
  margin: 40px 0;
}

/* FILTER */
.filter {
  text-align: left;
  margin-bottom: 20px;
}

.filter button {
  padding: 8px 15px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.filter .active {
  background: #ffcc00;
}

/* HEADER */
.tour-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.tour-header img {
  width: 40px;
  border-radius: 50%;
}

.tour-header h4 {
  margin: 0;
}

.tour-header p {
  margin: 0;
  font-size: 12px;
  color: gray;
}

/* LIST */
.tour-list {
  display: flex;
  gap: 20px;
}

/* CARD */
.tour-card {
  width: 300px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.tour-card:hover {
  transform: translateY(-5px);
}

/* IMAGE */
.tour-img {
  height: 180px;
  background: url("https://tse1.mm.bing.net/th/id/OIP.lE8QoZaKG2-cXEhIPtbPCQHaE8?rs=1&pid=ImgDetMain&o=7&rm=3")
    center/cover;
}

/* CONTENT */
.tour-content {
  padding: 15px;
}

.tour-content h3 {
  font-size: 14px;
}

/* PRICE */
.price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.old {
  text-decoration: line-through;
  color: red;
  font-size: 12px;
}

.detail {
  font-size: 12px;
  color: red;
  text-decoration: none;
}
/* footer */
.footer {
  background: linear-gradient(to right, #0f9b8e, #0a7f78);
  color: white;
  margin-top: 80px;
  padding-top: 40px;
}

/* CONTAINER */
.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0 20px;
}

/* LEFT */
.footer-left h2 {
  margin: 0;
}

.footer-left p {
  font-size: 14px;
  margin: 8px 0;
}

.socials span {
  display: inline-block;
  margin-right: 10px;
  background: orange;
  color: white;
  padding: 8px;
  border-radius: 50%;
}

/* MIDDLE */
.footer-middle {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-middle a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

/* RIGHT */
.footer-right h4 {
  margin-bottom: 10px;
}

.footer-right input {
  width: 250px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.footer-right button {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  border: none;
  background: orange;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.note {
  font-size: 11px;
  margin-top: 10px;
  color: #e0e0e0;
}

/* BOTTOM */
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  font-size: 13px;
}
